= render 'shared/sidebar'
.main
  .main__header
    .main__header--room-name
      = current_user.groups[params[:group_id].to_i - 1].name
    = link_to edit_group_path(params[:group_id]), class: "main__header--button" do
      .main__header--edit
        Edit
    %ul.main__header--member
      %li
        Member :
        - current_user.groups[params[:group_id].to_i - 1].users.each do |user|
          = user.name
  .main__chat
    .main__chat--name
      takeshi
    .main__chat--date
      2019/07/08(Mon) 12:00:00
    .main__chat--message
      hello!!
    .main__chat--name
      kasumi
    .main__chat--date
      2019/07/08(Mon) 13:15:00
    .main__chat--message
      こんにちは！
  .main__footer
    %form
      %input.main__footer--input(placeholder = "type a message")
      %label
        %i.fa.fa-picture-o{class: "main__footer--image"}
        %input{type: "file",id: "filesend"}
    .main__footer--send
      Send
